In [1]:
from sqlalchemy import *
import sys
import pandas as pd
import numpy as np
from datetime import datetime,timedelta,date
import plotly.plotly as py
import plotly.graph_objs as go
from axissClass import Axissclass
from axissPrintfigs import printfigs

In [2]:
analysis = Axissclass('1-1-2017','31-07-2017')

In [3]:
df = analysis.proc
pivot = df.pivot_table(index = 'Cluster',values = ['Received','Centre','Reg.No'], aggfunc = {'Received': np.sum,'Reg.No': lambda x: list(x),'Centre':lambda x: list(x)}).reset_index()
pivot['Reg.No'] = pivot.apply(lambda x: len(set(x['Reg.No'])),axis=1)
pivot['Centre'] = pivot.apply(lambda x: set(x['Centre']),axis=1)
pivot['Received'] = pivot.apply(lambda x: np.round(x['Received']*1.0/1e5,0),axis=1)
pivot.sort_values('Received', ascending=False)

,Cluster,Centre,Received,Reg.No
13,South Bangalore,"{MSH, HOSUR, ECITY, CARD}",227.0,4795
0,AECS,"{WHIT, AECS, ITPL}",211.0,3074
9,Noida,"{IPURAM, YOJNA, NOIDAFH, GZBCAH, NOIDA41}",194.0,2244
3,Central,"{JPN, HSR, JAYA, BTM}",182.0,1821
10,North Bangalore,"{VIDY, YELA, MALL, RAJA, SANJ, ASTRYELAold}",152.0,2137
14,South Delhi,"{GK, SDA, VV}",113.0,836
16,West Delhi,"{JANAKPURI, CANTT, DWARKA}",107.0,1344
7,Gur2,"{GURGAON43, DLFPH1}",88.0,831
4,East Bangalore,"{ASTRBLRD, DOML, JBN, ASTRTPARK, KAMM}",84.0,1272
6,Gur1,"{GURGAON56, GURGAONCAH, GURGAON14}",83.0,1093
15,South East Bangalore,"{BELL, NBEL, SARJ}",83.0,1390
1,BLKH,{BLKH},71.0,943
11,North Delhi,"{MEERA, ROHINI, GUJ}",52.0,475
12,Punjab,"{PATIALACAH, MOHALIFH, LDHFH}",45.0,909
2,CBD,"{LFORD, FORTISBLR}",18.0,294
5,FBD14,{FBD14},14.0,215
8,Indore,{CHL},3.0,134

In [4]:
cl = ['Central']
cent = ['JAYA']
df, fig = printfigs (analysis,indicator = 'Received',grplist = ['Year','Month','Classification'],
              regionlist = ['South'],clusterlist = cl,centrelist = cent)
py.iplot(fig)

['JAYA']

In [8]:
df, fig = printfigs (analysis,indicator = 'Reg.No',grplist = ['Year','Month','Classification'],
              regionlist = ['South'],clusterlist = cl,centrelist = cent)
py.iplot(fig)

['JAYA']

In [10]:

layout = go.Layout(
    autosize=True,
    width=500,
    height=500,
    margin=go.Margin(
        l=50,
        r=50,
        b=100,
        t=100,
        pad=4
    )
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='size-margins')